FABRIC_TESTNET=/home/YOUR_USERNAME/go/src/github.com/Notmoney-lab164/fabric-samples/test-network
FABRIC_CHANNEL=mychannel
FABRIC_CHAINCODE=graduation
FABRIC_MSP_ID=Org1MSP
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_QUERY_TIMEOUT=10

DATABASE_URL=mysql+pymysql://graduation_backend:123@localhost:3307/graduation_db

SECRET_KEY=graduation-verification-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=120
